.container{
    padding: 20px 10px 10px 10px;
}

.titles{
    text-align: left;
    font-size: 30;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
p{
    font-size: 20;
    font-weight: 550;
    text-align: justify;
    color: rgba(0, 0, 0, 0.671);
}
.footer{
    flex-shrink: 0;
  text-align: center;
  
  background-color: rgb(231, 231, 231);
  
}
.cont{
    padding-top: 0;
}
.contenedor{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 10px;
}




